@import '~@sravni/design-system-theme/lib/scss/core/variables';

.card {
  position: sticky;
  z-index: $zindex-sticky;
  bottom: 0;
  left: 0;
  padding-top: 16px;
  padding-bottom: 34px;
  border-radius: 0;
}

.wrapper {
  max-width: 940px;
  margin: auto;
}

.text {
  display: block;
  max-width: 24vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
