@import '~@sravni/design-system-theme/lib/scss/core/variables';

.cardContainer {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */

    &::-webkit-scrollbar {
      display: block;
    }
  }
}
