.contentWrapper {
  max-width: 500px;
}

.appLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-D100);
  user-select: none;
}

.qrCode {
  flex-shrink: 0;
  width: 134px;
  height: 134px;
}
