.slider {
  width: 100%;
  overflow-x: auto;

  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Скрываем scrollbar для Chrome, Safari и Opera */
    display: none;
  }
}
