@import '~@sravni/design-system-theme/lib/scss/core/variables';

.descriptionContainer {
  min-height: 78px;
  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    text-align: start;
  }
}

.card {
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.img {
  width: auto;
  height: 100px;
}

.progressContainer {
  width: 100%;
  cursor: pointer;
}
