@import '~@sravni/design-system-theme/lib/scss/core/variables';

.cardWrapper {
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: $breakpoint-desktop) {
    width: calc(50% - 12px);
    margin-bottom: 24px;

    &:nth-child(odd) {
      margin-right: 24px;
    }
  }
}

.progressBarWrapper {
  position: sticky;
  bottom: 16px;
  left: 0;
  max-width: 350px;
  margin: 0 auto;
}
