@import '~@sravni/design-system-theme/lib/scss/core/variables';

.card {
  position: relative;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 64px;
  padding: 24px 16px 120px;
  background-color: var(--color-B100);
  background-repeat: no-repeat;
  background-position: bottom 0 center;
  background-size: 101% 20%;

  @media screen and (min-width: $breakpoint-desktop) {
    height: 505px;
    margin-bottom: 162px;
    padding: 60px 32px 157px;

    border-radius: 60px;
    background-size: 100% 32%;
  }
}

.title {
  margin: 8px 0 16px;
  color: var(--color-L100);
  text-align: center;
  @media screen and (min-width: $breakpoint-desktop) {
    margin: 12px 0 24px;
  }
}
