@import '~@sravni/design-system-theme/lib/scss/core/variables';

.wrapper {
  margin: 0;
  padding: 0 16px 20px;
  background-color: var(--color-L100);

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: 940px;
    margin: 20px auto 40px;
    padding: 0;
    background-color: initial;
  }
}

.header {
  padding: 32px 0;
}
