@import '~@sravni/design-system-theme/lib/scss/core/variables';

.calculationToggleCard {
  display: block;
  position: relative;
  padding: 0;

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 24px;
  }
}

.inactive {
  display: none;
}
