@import '~@sravni/design-system-theme/lib/scss/core/variables';

.container {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 20px;
  }
}
